.absence-code-selector {
  position: absolute;
  background: #fafafa;
  padding: 15px;
  list-style: none;

  li {
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }

}

.pointer {
  cursor: pointer;

  &:hover {
    background: #fafafa;
  }
}

